/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
/* Additional Styling */

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgb(150, 200, 231),
    rgb(178, 211, 232) 77%,
    rgb(255, 255, 255)
  );
}

header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-top: 1vh;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  padding-left: 2vw;
  padding-bottom: 0.2rem;
  border-bottom: 3px solid blue;
}

#project-content-container {
  font-family: "Open Sans", sans-serif;
  font-weight: light;
  font-size: 1.1rem;
  margin-top: 100px;
  margin-left: 5vw;
  max-width: 90%;
  margin-bottom: 100px;
}

.section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.section-row-flush-left {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

p {
  margin-top: 0.8rem;
}

.section-row-space-evenly {
  margin-top: 0.8rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  font-weight: 400;
  font-style: italic;
  font-size: 1.0rem;
  color: #4f242d;
  margin-top: 5px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
  color: rgb(100, 100, 100);
}

blockquote p {
  display: inline;
}


.left-section {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.left-section > p {
  margin-top: 0.8em;
}

li {
  margin-top: 0.4rem;
}

ol > li::marker {
  font-weight: 600;
}

h1 {
  font-size:1.9rem;
}
h3 {
  font-size: 1.5rem;
  text-decoration: underline;
}

.zoom-img {
  transition:transform .2s;
}
.zoom-img:hover {
  transform: scale(1.14);
  box-shadow: rgba(243, 92, 210, 0.35) 0px 5px 15px;
}
h4{
  margin-top: 0.8rem;
  font-style:bold;
  font-size: 1.2rem;
}

.zoom-img-small {
  transition:transform .2s;
}

.zoom-img-small:hover {
  transform: scale(1.3);
  box-shadow: rgba(243, 92, 210, 0.35) 0px 5px 15px;
}

.zoom-img-large{
  transition:transform .2s;
}

.zoom-img-large:hover {
  transform: scale(1.08);
  box-shadow: rgba(243, 92, 210, 0.35) 0px 5px 15px;
}

img {
  border-radius:4px;
}